* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
}
body {
    background-color: #434343;
    
}
.container, .container-medium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container-medium {
    height: 90vh;
}
h1{
    text-align: center;
}
.logado {
    position: absolute;
    top: 18px;
    right: 20px;
}
.logado a {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    color: rgb(72, 72, 72);
}
h2 {
    font-size: 34px;
    margin: 10px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
input {
    color: black;
    padding: 16px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    width: 200px;
}
.btn {
    width: 230px; 
    border: none;
    border-radius: 10px;
    color: #434343;
    font-weight: bold;
    font-size: 16px;
    padding: 12px;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(76, 156, 190);
}
nav {
    width: 100%;
    height: 50px;
    background-color: rgb(60, 90, 146);
    line-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav a {
    
    background-color: #fff;
    color: rgb(72, 72, 72);
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px;
}
h1 {
    margin: 20px;
}
table {
    margin: 20px;
    max-width: 800px;
    width: 100%;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #DDDDDD;
}
.th-top {
    border-bottom: 1px solid rgb(183, 183, 183);
}
tr, th{
    color: rgb(141, 141, 141);
    padding: 12px;
    font-weight: 100;
    
}
/* ICONE DELETE */
.fa-trash-can {
    color: rgb(232, 86, 81);
}
/* ICONE EDIT */
.fa-pen-to-square{
    color: rgb(84, 156, 224);
    margin-left: 10px;
}
